@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url(/src/assets/fonts/Inter.woff2) format('woff2'),
      url(/src/assets/fonts/Inter.woff) format('woff');
  }

  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url(/src/assets/fonts/Lato.woff2) format('woff2'),
      url(/src/assets/fonts/Lato.woff) format('woff');
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar:hover {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.06);
}

.small-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.small-scrollbar::-webkit-scrollbar:hover {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.24);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.37);
}
